<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dotz - Conneting you to right dots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bundle.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <div class="container-fluid">
        <div class="container">
          <div id="react-main-mount"><%- reactOutput %></div>
        </div>
      </div>
      <script>window.INITIAL_STATE = <%- initialState %></script>
      <script src="/scripts/bundle.js"></script>
  </body>
</html>
